* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', Helvetica, sans-serif;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  width: 320px;
  border-radius: 15px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
}


.illustration-article img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  background-color: hsl(47, 88%, 63%);
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  margin-bottom: 10px;
  position: relative;
  top: 0;
  left: 0;
}


#dif {
  font-size: 12px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 15px;
}


.card-info h1 {
  font-size: 20px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 15px;
  font-weight: 800;
  cursor: pointer;
}




.card-info p {
  font-size: 14px;
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
  margin-bottom: 25px;
}


.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar span {
  font-size: 13px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}